body {
    background-color: #FFE500;
    font-family: 'signika negative';
}
span {
    font-size: 23px;
}
h1 {
    color: #0047B1;
}
.tela-do-app {
    border: none;
    background-color: #0047B1;
    width: 375px;
    height: 100vh;
    border-radius: 39px;
    margin-right: 30px;
    margin-left: 30px;
}

.conteudo-principal {
    display: flex;
    justify-content: space-between;
}
.contextualizacao {
    margin-left: 30px;
}